@import "_mixin.scss";
@import "common.scss";
html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    .banner {
        width: 100%;
        flex: 1;
        color: #fff;
        .nav {
            color: #fff;
            position: absolute;
            top: 20px;
            width: 100%;
            height: 1.17333rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 .4rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box;
            flex-shrink: 0;
            span {
                font-size: .4rem;
            }
            span:nth-child(2) i {
                margin: 15px
            }
        }
        img {
            width: 100%;
            display: block;
        }
    }
}

section {
    overflow-y: auto;
    flex: 1;
    .list {
        width: 100%;
        height: pxTorem(100px);
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        >dl {
            flex: 1;
            display: flex;
            justify-content: center;
            flex-flow: column;
            align-items: center;
            >img {
                width: pxTorem(50px);
                height: pxTorem(50px);
            }
        }
    }
    .link {
        width: 100%;
        height: 100%;
        height: pxTorem(345px);
        padding: 0 pxTorem(10px);
        @include sizing;
        h2 {
            width: 100%;
            height: pxTorem(30px);
            font-size: pxTorem(16px);
            @include box_flex;
            @include align;
            margin-bottom: pxTorem(5px);
            font-weight: bold;
        }
        .list-dl {
            width: 100%;
            height: pxTorem(310px);
            @include box_flex;
            flex-wrap: wrap;
            @include align;
            dl {
                width: pxTorem(110px);
                height: pxTorem(143px);
                margin-right: pxTorem(8px);
                dt {
                    width: 100%;
                    height: pxTorem(110px);
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                dd {
                    font-size: pxTorem(14px);
                }
            }
        }
    }
    .cont {
        .cont-header {
            b {
                font-weight: bold;
            }
            span {
                font-size: 36px;
                float: right;
                padding-top: 15px;
                padding-right: 20px;
            }
        }
        .cont-container {
            width: 100%;
            overflow-x: auto;
            .cont-container-s {
                width: 100%;
                padding: 20px;
                display: flex;
                .cont-container-s {
                    dl {
                        width: 22%;
                        margin-right: 35px;
                    }
                }
            }
        }
    }
    .jp {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        box-sizing: border-box;
        .title {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
        }
        .jp_list {
            width: 100%;
            display: flex;
            flex-direction: column;
            dl {
                width: 100%;
                display: flex;
                border-bottom: 1px solid #ccc;
                padding: 5px 0;
                box-sizing: border-box;
                dd {
                    margin-left: 20px;
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: pxTorem(60px);
    background: #fff;
    display: flex;
    flex-shrink: 0;
    dl {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
    }
}